body {
    margin: 0;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-size: cover;
}

.player {
    min-width: 70vw;
    border: 5px solid rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}
.player:fullscreen{
    max-width: none;
    width: 100%;
}

.video {
    width: 100%;
    height: 50vh
}

.player_control {
    display: flex;
    position: absolute;
    bottom: 0;
    flex-wrap: wrap;
    width: 100%;
}
.player_btn{
    background: none;
    outline: 0;
    padding: 0;
    line-height: 1;
    color: #fff;
    border: 0;
    text-align: center;
}
.player_btn:focus{
    border-color: #ffc600;
}

.player_slider{
    background: none;
}